*{
margin:0;
padding:0;
box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
}
.content{
    display:block;
    gap:25px;
    padding: 25px;
}
.content h1{
    margin:10px;
}
.content form{
    margin:10px;
}
